* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: linear-gradient(rgb(241, 217, 217),rgb(146, 245, 168));
    .gridPadre {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;

        div {
            text-align: center;
            border: 3px dashed black;
            margin: 25px;
            padding: 25px;
            background-image: linear-gradient(white, orange);
        }
    }
}

.titulo {
    grid-column: 1/4;

    .logo {
        width: 100px;
        border-radius: 100%;
    }

    h1 {
        font-size: 100px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: line-through;
        color: red;
        animation-duration: 1s;
        animation-name: TituloPrin;
        animation-iteration-count: infinite;
    }
}

@keyframes TituloPrin {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
#menu {
    grid-column: 1/4;
    ul {
        list-style: none;
    }
    li {
        color: yellow;
        display: inline-block;
        &:hover{
            color: rgb(208, 214, 21);
        }
    }
    a {
        color: chocolate;
    }
}
.bloqueImagenes {
    grid-column: 1/3;
    .flexPadre {
        display: flex;
        background-color: bisque;
        justify-content: center;
    }
}
img {
    width: 150px;
    height: 150px;
}
.esquina {
    font-size: 13px;
    .derecha{
        display: flex;
        justify-content: center;
    }    
}
.foot {
    grid-column: 1/4;
}

p {
    color: brown;
    text-transform: uppercase;

}
@media screen and (max-width: 480px){
    .titulo{
        grid-column: 1/4;
    }
    #menu{
        grid-column:2/4 ;
    }
    #menu li{
        display: block
    }
    .derecha{
        display: none;
    }
    .flexPadre{
        display: flex;
        flex-direction:column;
    }
    .bloqueImagenes{
        grid-column: 1/4
    }
}
@media screen and (max-width: 768px){
    .titulo{
        grid-column: 1/4;
    }
    #menu{
        grid-column:1/4 ;
    }
    #menu li{
        display: block
    }
    .derecha{
        grid-column: 1/2 ;
    }
    .flexPadre{
        display: flex;
        flex-direction:column;
    }
    .bloqueImagenes{
        grid-column: 1/4;
    }
}
@import "header";

.pag{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    
  .pag div {
    text-align: center;
    border: 2px dashed black;
  
  }
  }
  /*titulos*/
  .pagTitulo {
    grid-column: 1/5;
  }
  
  /*menu*/
  #pagMenu {
    grid-column: 1/5;
  
  }
  
  ul {
    list-style: none;
    font-size: 0;
    li {
        display: inline-block;
        position: relative;
        font-size: 20px;
        width: 215px;
      }
      a {
        text-decoration: none;
      }
      
  }
  /*imagenes*/
  .pagImg {
    grid-column: 1/4;
  }
  
  .flexPadre {
    display: flex;
    font-size: 29px;
  }
  
  img {
    width: 150px;
    height: 150px;
  }
  
  /*derecha*/
  .pagVideo {
    grid-column: auto;
  }
  
  .pagVideo p {
    font-size: 20px;
  }
  
  /*footer*/
  .pagFoo {
    grid-column: 1/5;
  }
  
  .pagIframe {
    font-size: 100%;
  }
  
  img {
    justify-content: center;
  }
/*mapas*/

$redes: (
    twitter:red,
    instagram:green,
    facebook:blue,
    send-mail:white, 
);
$color: (
    red,
    blue,
    green,
);
@each $red, $color in $redes{
    
}
$estilos: (
    color:rgb(249, 245, 245),
    centro:center
);
div {
    background-color: map-get($estilos,$color);
} 
@each $color in blue,yellow,red,aqua,green {
    .#{$color} {
        color: #{$color};
    }
}
@each $red, $color in $redes {
    .btn--#{$red} {
        background-color: $color;
    }
}
.boton {
    width: 100%;
    height: 50px;
    background-color: map-get($estilos,color);
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}
.boton--aceptar{
    @extend .boton;
    background-color: green;
    color: black;
}
.boton--cancelar{
    @extend .boton;
    background-color: red;
    color: black;
} 
/* no sabia donde poner o en que usar el extend por eso no lo aplique aun */
@mixin cuadrado ($lado) {
    width: $lado;
    height: $lado;
}
div.cuadrado{
    background-color: greenyellow;
    @include cuadrado(100%);
    border: dashed 3px black;
}