* {
    margin: 0%;
    padding: 0%;
}

/*empieza los grid*/
body{
    background-color: rgba(237, 237, 230, 0.733);
}
.gridPadre {
    
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

}

.gridPadre div {
    text-align: center;
    border: 3px dashed black;
    margin: 25px;
    padding: 25px;
    background-image: linear-gradient(white , orange);

}

/*titulos*/
.titulo {
    grid-column: 1/4;
}

h1 {
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    color: red
}
@keyframes TituloPrin {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
h1{
    animation-duration: 1s;
    animation-name: TituloPrin;
    animation-iteration-count: infinite;
}
.logo {
    width: 100px;
    border-radius: 100%;
}

/*menu*/
#menu {
    grid-column: 1/4;
    margin: auto;
    padding: auto;
}

ul {
    list-style: none;
    font-size: 0;
}

li {
    display: inline-block;
    width: 250px;
    position: relative;
    font-size: 20px;
}

a {
    color: chocolate;
    text-decoration: none;
}

/*imagenes*/
.bloqueImagenes {
    grid-column: 1/3;
}

.flexPadre {
    display: flex;
    background-color: bisque;
    justify-content: center;
}

img {
    width: 150px;
    height: 150px;
}

/*derecha*/
.esquina {
    font-size: 13px;
}
.derecha{
    display: flex;
    justify-content: center;
}

/*footer*/
.foot {
    grid-column: 1/4;
}

p {
    color: brown;
    text-transform: uppercase;

}

h2 {
    font-size: 50px;
    text-transform: lowercase;
}

h3 {
    font-size: 30px;
    text-transform: capitalize;
}



/*grid mas css de las paginas de contactos y mas*/




/*empieza los grid*/
.pag {
    /*background-color: rgba(216, 216, 203, 0.733);*/
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

}

.pag div {
    text-align: center;
    border: 3px solid black;
    margin: 25px;
    padding: 25px;
}

/*titulos*/
.pagTitulo {
    grid-column: 1/5;
}

/*menu*/
#pagMenu {
    grid-column: 1/5;
    margin: auto;
    padding: auto;
}

ul {
    list-style: none;
    font-size: 0;
}

li {
    display: inline-block;
    width: 250px;
    position: relative;
    font-size: 20px;
}

a {
    text-decoration: none;
}

/*imagenes*/
.pagImg {
    grid-column: 1/4;
}

.flexPadre {
    display: flex;
}

img {
    width: 150px;
    height: 150px;
}

/*derecha*/
.pagVideo {
    grid-column: auto;
}

.pagVideo p {
    font-size: 20px;
}

/*footer*/
.pagFoo {
    grid-column: 1/5;
}

.pagIframe {
    font-size: 100%;
}




/*media queries mobil*/

@media screen and (max-width: 480px) {
    
    .gridPadre div{
        background-color: rgb(241, 234, 230);
    }
    .titulo{
        grid-template: 1/4;
    }
    #menu{
        grid-template:2/4 ;
    }
    #menu li{
        display: block
    }
    .derecha{
        display: none;
    }
    .flexPadre{
        display: flex;
        flex-direction:column;
    }
    .bloqueImagenes{
        grid-template: 1/4
    }
    .tituloUno{
        font-size: 49px ;
    }
    .tituloDos{
        font-size: 49px;
    }
    /*media queries para la Pag inicio*/
    .pag{
        display: block;

    }
    h1{
        font-size: 50px;
    }
    
        
   
    .pagVideo{
        display: none;
    }
    
}
/*media queries mobil fin*/

/*media queries para tablet*/
@media screen and (max-width: 768px){
    .main{
        background-color: yellow;
    }
    .titulo{
        grid-template: 1/4;
    }
    #menu{
        grid-template:2/4 ;
    }
    #menu li{
        display: block
    }
    .derecha{
        grid-column: 1/4 ;
    }
    .flexPadre{
        display: flex;
        flex-direction:column;
    }
    .bloqueImagenes{
        grid-template: 1/4
    }
    /*pag media queries para tablet*/

    .pag{
        display: block;
    }
    
    h1{
        font-size: 50px;
    }
   
}
/*media queries para tablet*/