* {
    margin: 0%;
    padding: 0%;
}

/*empieza los grid*/
body{
    background-color: rgba(237, 237, 230, 0.733);
}
.gridPadre {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

}

.gridPadre div {
    text-align: center;
    border: 1px solid black;
    background-image: linear-gradient(white , orange);
}

/*titulos*/
.titulo {
    grid-column: 1/4;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through;
    color: red;
}

@keyframes TituloPrin {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
h1{
    animation-duration: 1s;
    animation-name: TituloPrin;
    animation-iteration-count: infinite;
}
.logo {
    width: 100px;
    border-radius: 100%;
}

/*menu*/
#menu {
    grid-column: 1/4;

    
}

ul {
    list-style: none;
    font-size: 0;
}

li {
    display: inline-block;
    position: relative;
    font-size: 20px;
}

a {
    color: chocolate;
    text-decoration: none;
}

/*imagenes*/
.bloqueImagenes {
    grid-column: 1/3;
}

.flexPadre {
    display: flex;
    background-color: bisque;
    justify-content: center;
}

img {
    width: 150px;
    height: 150px;
}

/*derecha*/
.esquina {
    font-size: 13px;
}
.derecha{
    display: flex;
    -ms-flex-align: center;
    justify-content: center;
}

/*footer*/
.foot {
    grid-column: 1/4;
}

p {
    color: brown;
    text-transform: uppercase;

}

h2 {
    font-size: 50px;
    text-transform: lowercase;
}

h3 {
    font-size: 30px;
    text-transform: capitalize;
}

#menu a:hover{
color: gray;
background-color: brown;
}
a:hover{
    color: gray;
    background-color: brown;
}

/*grid mas css de las paginas de contactos y mas*/




/*empieza los grid*/
.gradi{
    background-image: linear-gradient(rgb(178, 253, 178) , rgb(220, 163, 57));
}
.gradi1{
    background-image: linear-gradient( white, red );

}
.gradi2{
    background-image: linear-gradient( coral,white );

}
.gradi3{
    background-image: linear-gradient(orange ,yellow );

}
.gradi4{
    background-image: linear-gradient(rgb(247, 204, 247) ,black );

}
.pag {
    /*background-color: rgba(216, 216, 203, 0.733);*/
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

}

.pag div {
    text-align: center;
    border: 1px solid black;
   
}

/*titulos*/
.pagTitulo {
    grid-column: 1/4;
}

/*menu*/
#pagMenu {
    grid-column: 1/4;
    
}

ul {
    list-style: none;
    font-size: 0;
}

li {
    display: inline-block;
    position: relative;
    font-size: 20px;
}

a {
    text-decoration: none;
}

/*imagenes*/
.pagImg {
    grid-column: 1/1;
}

.flexPadre {
    display: flex;
}

img {
    width: 150px;
    height: 150px;
}

/*derecha*/
.pagVideo {
    grid-column: auto;
}

.pagVideo p {
    font-size: 20px;
}

/*footer*/
.pagFoo {
    grid-column: 1/4;
}

.pagIframe {
    font-size: 100%;
}




/*media queries mobil*/

@media screen and (max-width: 480px) {
    
    .gridPadre div{
        background-color: rgb(241, 234, 230);
    }
    .titulo{
        grid-template: 1/4;
    }
    #menu{
        grid-template:2/4 ;
    }
    li{
        display: block
    }
    .derecha{
        display: none;
    }
    .flexPadre{
        display: flex;
        flex-direction:column;
    }
    .bloqueImagenes{
        grid-template: 1/4
    }
    .tituloUno{
        font-size: 26px ;
        text-transform: lowercase;
    }
    .tituloDos{
        font-size: 26px;
        text-transform: lowercase;
    }
    /*media queries para la Pag inicio*/
    .pag{
        display: block;

    }
 
    
        
   
    .pagVideo{
        display: none;
    }
    
}
/*media queries mobil fin*/

/*media queries para tablet*/
@media screen and (max-width: 768px){
    .main{
        background-color: yellow;
    }
    .titulo{
        grid-column: 1/4;
    }
    #menu{
        grid-column:1/4 ;
    }
    #menu li{
        display: block
    }
    .derecha{
        grid-column: 1/4;
       
    }
    .flexPadre{
        display: flex;
        flex-direction:column;
    }
    .bloqueImagenes{
        grid-column: 1/4
    }
    /*pag media queries para tablet*/

    .pag{
        display: block;
    }
    
    
}
/*media queries para tablet*/